<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <title>Página Principal</title>
    <style>
        img {
            max-width: 100%;
            height: auto;
        }
    </style>
</head>
<body>
    <div th:replace="fragmentos/navbar :: navbar"></div>

    <h1 th:fragment="inicio">Página de inicio</h1>

    <img th:src="@{/images/travel can_logo.png}" alt=""/>

    <p>¡Bienvenido!</p>

    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
